.heroTitle a {
    color: #efe9fa;
}

.heroTitle {
    font-size: 18px;
    color: #efe9fa;
    text-align: right;
}

.overMargin {
    margin-right: 0px;
    margin-left: 0px;
}

.routerSection {
    position: absolute;
    left: 60%;
    top: 10%;
    z-index: 3;
}

.heroTitle a.router-link-active {
    color: #ff4c75;
}

