.homeBG img {
    transform: scale(1.5);
}

/*.cover1 {
    position: absolute;
    top: 5%;
    width: 99%;
    height: 20%;
    margin-left: -6px;
}

.cover2 {
    position: absolute;
    top: 80%;
    height: 20%;
    width: 99%;
        margin-left: -6px;
}
.cover1 div,.cover2 div{
    height: 100%;
}*/