.homeView {
    padding-top: 3%;
}

.overMargin {
    margin-right: 0px;
    margin-left: 0px;
}

.heroTitle {
    font-size: 18px;
    color: #efe9fa;
    text-align: right;
}

.lastName,
.firstName {
    font-size: 0px;
    color: #ff4c75;
    display: inline-block;
}


.honored {
    display: inline-block;
}

.space {
    height: 100px;
}

.smallSpace {
    height: 40px;
}

.playIcon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #efe9fa;
}

.playIcon i {
    display: block;
    text-align: center;
    line-height: 50px;
}

.playText {
    text-align: left;
}

.leftBG {
    background-color: #4700e5;
}

.rightBG {
    background-color: grey;
}


.animateBlur {
    -moz-box-shadow: 10px 10px 43px #000000;
    -webkit-box-shadow: 10px 10px 43px #000000;
    box-shadow: 10px 10px 43px #000000;
}

