<div class="row homeView overMargin">
    <div class="col-xs-4">
        <div class="row">
            <div class="col-xs-offset-1">
                <div class="row">
                    <div class="col-xs-offset-2 heroTitle">
                        <div class="honored" *ngIf="showOthersConent">
                            Honored Artist
                        </div>
                        <firstName *ngIf="startFName" (showOthers)="showOthers($event)"></firstName>
                    </div>
                    <lastName *ngIf="showHome" (lastNameFinished)="startFirstName($event)"></lastName>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>

<!--play-->
<div class="row overMargin" *ngIf="showOthersConent">
    <div class="col-xs-1  col-xs-offset-2">
        <div class="playIcon">
            <i class="fa fa-play"></i>
        </div>
    </div>
    <div class="col-xs-1 heroTitle">
        Now Dilnaz
        <br> Akhmadieva,
    </div>
</div>
<div class="smallSpace"> </div>
<div class="row overMargin" *ngIf="showOthersConent">
    <div class="col-xs-1 heroTitle playText col-xs-offset-2">
        Play music
    </div>
    <div class="col-xs-2 playText heroTitle">
        we need some description of her here, just for test now. paly the music if you like Akhmadieva. she is very smart and good
        at singing. we will wait for you.
    </div>
</div>

<backgroundLayer class="container-fluid" style="padding-left:0px;padding-right:0px" (finished)="startHome($event)" [showImg]="showOthersConent">
    <div #leftbg class="leftBG height100 col-xs-2"></div>
    <div class="rightBG height100"></div>
</backgroundLayer>